<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble - Create Gabble</title>
    <link rel="stylesheet" href="/public/stylesheets/normalize.css">
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
    <script src="/public/javascript/main.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <a href="/home"><h4>Gabble</h4></a>
      <a href="/create"><h4>Write Gab</h4></a>
      <a href="/login"><h4>Login</h4></a>
      <a href="/signup"><h4>Sign Up</h4></a>
    </header>
    <form class="write-gab" action="" method="post">
      <h1>Write your Gab here...</h1>
      <textarea name="gabble" rows="30" cols="100"></textarea>
      <button type="submit">Finish</button>
    </form>
    <footer>
      This page was rendered in {{secondsToRender}}ms.
    </footer>
  </body>
</html>
