<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gabble - Homepage</title>
    <link rel="stylesheet" href="/public/stylesheets/normalize.css">
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
    <script src="/public/javascript/main.js" charset="utf-8"></script>
  </head>
  <body>
    {{#}}
    <!-- This is where the created gabs wil appear from each user this is assuming we are going to use mustache to show those-->
    {{/}}
  </body>
</html>
